!!!
%html{lang: "en", "ng-app" => "webapp"}
  %head
    %meta{charset: "utf-8"}/
    %title webapp
    %script{src: "vendor.js"}
    %script{src: "app.js"}
    %link{href: "app.css", rel: "stylesheet"}/
  %body
    %div webapp
    %div{"ng-controller" => "demoControllerRoot"}
      %ul
        %li{"ng-repeat" => "(key,val) in rows"} List item
    %div{"ng-view" => ""}